/* ==UserStyle==
@name           Twitter
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Twitter redesigned
@author         Who
==/UserStyle== */

@-moz-document url-prefix("https://twitter.com") {
*,
*:before,
*:after {
  color: #aeaeae !important;

} 

.r-111h2gw {
  color: rgb(67, 112, 221)!important;
}
  
.r-1gg85qh {
  background-color : #3a3b42 !important;
}
.r-14lw9ot {
  background-color : #1a1c29 !important;
}

}
